._5ymq button{max-width:177px;overflow:hidden;text-overflow:ellipsis}._6tmj{display:inline}._6tmk{margin-top:5px}
div.egoProfileTemplate{line-height:13px}div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}div.egoProfileTemplateSubtitle{color:#7f7f7f}

#bootloader_E16LK{height:42px;}.bootloader_E16LK{display:block!important;}